---
import '../styles/global.css';
import DocHead from '../Components/DocHead.astro';
import DocHeader from '../Components/DocHeader.astro';
import CardContent from '../Components/CardContent.astro';
import ScriptContent from '../Components/ScriptContent.astro';
---

<html lang="en">

    <DocHead />
    
    <script src="/src/scripts/image-popup.js" defer></script>

  <body>
    
    <DocHeader />

    <main class="main-area">
      <CardContent />
    </main>

    <div class="image-popup" id="image-popup" aria-hidden="true">
      <button class="close-btn" aria-label="Close Popup">×</button>
      <img src="" alt="Expanded Image">
    </div>

    <button id="back-to-top" aria-label="Back to top">↑</button>

    <ScriptContent />
   
  </body>
</html>